.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.idea/
/.idea/.gitignore
/.idea/CG.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/discord.xml
/.idea/modules.xml
/package-lock.json
/.idea/codeStyles/Project.xml
